{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>ML Examples</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'ml_app/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'ml_app/css/main.css' %}" />
		<!-- GOOGLE AD-SENSE -->
		<script data-ad-client="ca-pub-9445984907018977" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<style>
			body{
				font-family: verdana;
			}
		</style>
	</head>
	<body>

			<div id="page-wrapper">

					<header id="header" class="alt">
						
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="#four">Blogs</a></li>
								<li><a href="#enquiry">Feedback</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-diamond"></span></div>
							<h2>ML Examples</h2>
							<p style='color:#ddd;'>Here are some applications of popular Machine Learning algorithms applied in real-world scenarios</p>
						</div>
					</section>

					{% if flag == 1 %}
                        <div class="container alert badge-success text-center">MESSAGE SENT SUCCESSFULLY</div>
                    {% endif %}

					<section id="wrapper">

							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="{% url 'loan_approval' %}" class="image"><img src="{% static 'ml_app/images/loan1.jpg' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Loan Approval Prediction</h2>
										<p>Fill your credit details and check your eligibilty for Loan Approval. The model takes some parameters like income, credit history, loan amount, Education, etc. <br> It procss and predict whether your loan application will be approves or not</p>
										<a href="{% url 'loan_approval' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>

							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="{% url 'diabetes_prediction' %}" class="image"><img src="{% static 'ml_app/images/diabetes.jpg' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Diabetes Prediction</h2>
										<p>Based on your health and symtoms this Machine Learning Model predict whether you are infected COVID-19 human or not. <br>It accepts some details like person's age, symptoms, severity of symptoms and predict whether you are infected or not.</p>
										<a href="{% url 'diabetes_prediction' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>

							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="{% url 'titanic_prediction' %}" class="image"><img src="{% static 'ml_app/images/titanic1.png' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Titanic & You</h2>
										<p>Check if you were travelling on Titanic Cruize will you able to survive the tragedy or not. <br>The model accepts your details like age, gender, etc and predict whether you will survuve the Titanic tradegy or not.</p>
										<a href="{% url 'titanic_prediction' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>

							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="{% url 'salary_prediction' %}" class="image"><img src="{% static 'ml_app/images/salary.jpg' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Salary Prediction</h2>
										<p>This is  Machine Learning Model predicts a person's approximate salary on the basis of that person's Work Experience (in years). Model asks for a single parameter i.e. Experience (in years) and predict Salary.</p>
										<a href="{% url 'salary_prediction' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>
							
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="{% url 'student_performance' %}" class="image"><img src="{% static 'ml_app/images/student.jpg' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Student Performace Prediction</h2>
										<p>Check the Student's performance in upcomming session. <br>This model accepts various student's details like age, gender, heatth, guardian information , etc and predict the performance percentage based on the parameters processing results.</p>
										<a href="{% url 'student_performance' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>
				
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="{% url 'corona_prediction' %}" class="image"><img src="{% static 'ml_app/images/corona.jpg' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Covid-19 Prediction</h2>
										<p>This Machine Learning Model accepts some deatils like age, gender, and other health conditions and predict whether a person can suffer from covid-19 or not.</p>
										<a href="{% url 'corona_prediction' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>
							
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="{% url 'stock_prediction' %}" class="image"><img src="{% static 'ml_app/images/stocks.jpg' %}" alt="" height=190 /></a>
									<div class="content">
										<h2 class="major">Stock Price Prediction</h2>
										<p>Check the stock price values for adjacent days for any company. <br>This model uses an API to get stock data of vaious exchages and accepts compay name, adjacet day values for opening price, closing price, volume, day-to-predict-for, etc to predict the stock price values for a day coressponding selected company.</p>
										<a href="{% url 'stock_prediction' %}" class="special">CHECK HERE</a>
									</div>
								</div>
							</section>

							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major mt-5">Related Blogs</h2>
									<p>Here are some Machine-Learning related articles that will help you to understand some core Machine Learning concepts.</p>
									<section class="features">
										<article>
											<a href="{% url 'blog1' %}" class="image"><img src="{% static 'ml_app/images/ml1.jpg' %}" height=280 alt="" /></a>
											<h3 class="major">Getting Started with Machine Learning</h3>
											<p>A beginner's-friendly intoduction to Machine Learning - definition, applications, significance and types.</p>
											<a href="{% url 'blog1' %}" class="special">Read more</a>
										</article>
										<article>
											<a href="{% url 'blog2' %}" class="image"><img src="{% static 'ml_app/images/sl.jpg' %}" height=280 alt="" /></a>
											<h3 class="major">Supervised Machine Learning </h3>
											<p>A beginner's-friendly intoduction to Supervised Machine Learning - definition, applications, significance and classifications.</p>
											<a href="{% url 'blog2' %}" class="special">Read more</a>
										</article>
										<article>
											<a href="{% url 'blog3' %}" class="image"><img src="{% static 'ml_app/images/ul.jpg' %}" height=280 alt="" /></a>
											<h3 class="major">Un-supervised Machine Learning </h3>
											<p>A beginner's-friendly intoduction to UnSupervised Machine Learning - definition, applications, significance and classifications.</p>
											<a href="{% url 'blog3' %}" class="special">Read more</a>
										</article>
										<article>
											<a href="{% url 'blog4' %}" class="image"><img src="{% static 'ml_app/images/rl.jpg' %}" height="280" alt="" /></a>
											<h3 class="major">Reinforcement Learning </h3>
											<p>A beginner's-friendly intoduction to Reinforcement Machine Learning - definition, applications, significance and classifications.</p>
											<a href="{% url 'blog4' %}" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a type="button" id='show_btn' class="button" onclick="show_all()">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

					<section id="footer">
						<div class="inner" id="enquiry">
							<h2 class="major">FEEDBACK / CONTACT</h2>
							<form method="post" action="#">
								{% csrf_token %}
								<br>
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="copyright">
								<li>&copy; copyright 2020 ( All rights reserved )</li>
							</ul>
						</div>
					</section>

			</div>

			<script src="{% static 'ml_app/js/skel.min.js' %}"></script>
			<script src="{% static 'ml_app/js/jquery.min.js'%}"></script>
			<script src="{% static 'ml_app/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'ml_app/js/util.js' %}"></script>
			<script src="{% static 'ml_app/js/main.js' %}"></script>
			<script src="{% static 'ml_app/js/extra.js' %}"></script>

			
	</body>
</html>